.isAncestor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: auto 0;
    flex-wrap: wrap;  
    align-content: flex-start;
}

.isAncestor > .borderDiv {
    display: none;
}

.isAncestor > .labelNameDiv {
    padding-left: 0;
    width: 160px;
}

h2 {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    width: 105px;
}

.labelNameDiv {
    display: flex;
    align-items: center;
}

.isChildren .labelNameDiv {
    width: 221px;
    padding-left: 14px;
}

.ui.header {
    margin: 0;
    padding-left: 2px;
}

.label {
    display: inline-block;
}

.isChildren{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hasChildren{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.noChildren {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parentToBorder {
    position: relative;
}

.hasChildren{
    position: relative;
}

.parentToBorder > .borderDiv {
    position: absolute;
    border-left:3px solid #2196F3;
    width: 14px;
    border-top:3px solid #2196F3;
    left: 0; 
}


.lastChild > .borderDiv{
    height: 5px;
    border-top: 3px solid #2196F3;
    width: 14px;
    left: 0; 
    position: absolute;
    border-left:none; 
}
