.isAncestor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: auto 0;
    flex-wrap: wrap;  
    align-content: flex-start;
}

h5 {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    width: 105px;
    margin: 0;
}

.isChildren{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hasChildren{
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
}

.parentToBorder {
    position: relative;
}

.hasChildren{
    position: relative;
}

.parentToBorder .borderDiv {
    position: absolute;
    border-left:1px solid black;
    width: 14px;
    border-top: 1px solid black;
    left: -8%; 
}

.hasChildren .borderDiv{ 
    border-left: solid 1px black; 
    position: absolute;
    /* height: 300px; */
    width: 14px;
    border-top: 1px solid black;
    left: -8%;
    /* top: 150px; */
 }

/* .borderDiv2 {
    border-top: 1px solid black;
    height: 5px;
    width: 54px;
    position: absolute;
    top: 0px;
    left: 60px;
    display: none;
} */

.lastChild .borderDiv{
    height: 5px;
    border-top: solid 1px black;
    width: 14px;
    /* top:150px; */
    left: -8%; 
    position: absolute;
    border-left:none; 
}




/* .isAncestor{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.isAncestor > .borderDiv{
    display: none;
}

.hasChildren{
    position: relative;
}

.isChildren{
    display: flex;
    justify-content: center;
}

.isChildren > div{
    width: 175px;
}

.hasChildren .isChildren .borderDiv{
    width: 87.5px;
}

.lastChild .borderDiv{
    border-top: none;
}

.parentToBorder{
    position: relative;
}

.borderDiv {
    height: 24px;
    width: 175px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    position: absolute;
    left: 50%;
} */
